ClorofeelSource/Client/QuidMind.CloRoFeel.CloRoFeelClientWP7/Service References/ClorofeelCloudServices/RobotVideo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloRoFeel_Attente_WebRole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloRoFeel_Attente_WebRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaceRecognitionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndCondition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FacePositions" nillable="true" type="tns:ArrayOfFacePosition" />
      <xs:element minOccurs="0" name="ImageBase64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NbFaces" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TempFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastWebRequestError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaceRecognitionResult" nillable="true" type="tns:FaceRecognitionResult" />
  <xs:complexType name="ArrayOfFacePosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FacePosition" nillable="true" type="tns:FacePosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacePosition" nillable="true" type="tns:ArrayOfFacePosition" />
  <xs:complexType name="FacePosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Angle" type="xs:double" />
      <xs:element minOccurs="0" name="Eye1" nillable="true" type="tns:Coordinate" />
      <xs:element minOccurs="0" name="Eye2" nillable="true" type="tns:Coordinate" />
      <xs:element minOccurs="0" name="TargetedFace" type="xs:boolean" />
      <xs:element minOccurs="0" name="Width" type="xs:double" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacePosition" nillable="true" type="tns:FacePosition" />
  <xs:complexType name="Coordinate">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coordinate" nillable="true" type="tns:Coordinate" />
</xs:schema>